In [1]:
from sklearn.datasets import load_boston
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

import pandas as pd
import numpy as np

In [2]:
## Gather Data
boston_datset = load_boston()
data = pd.DataFrame(data=boston_datset.data , columns=boston_datset.feature_names)
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [3]:
features = data.drop(['INDUS','AGE'], axis=1)
features.head()

,CRIM,ZN,CHAS,NOX,RM,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,0.0,0.538,6.575,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,0.0,0.469,6.421,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,0.0,0.469,7.185,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,0.0,0.458,6.998,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,0.0,0.458,7.147,6.0622,3.0,222.0,18.7,396.90,5.33

In [5]:
log_prices = np.log(boston_datset.target)
log_prices.shape

(506,)

In [6]:
features.shape

(506, 11)

In [7]:
target = pd.DataFrame(log_prices,columns=['PRICE'])
target.shape

(506, 1)

In [9]:
features.head()

,CRIM,ZN,CHAS,NOX,RM,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,0.0,0.538,6.575,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,0.0,0.469,6.421,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,0.0,0.469,7.185,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,0.0,0.458,6.998,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,0.0,0.458,7.147,6.0622,3.0,222.0,18.7,396.90,5.33

In [17]:
CRIME_IDX = 0
ZN_IDX = 1
CHAS_IDX = 2
RM_IDX = 4
PTRATIO_IDX=8

property_stats = np.ndarray(shape=(1,11)) 
# will have the same structure as features
# property_stats[0][CRIME_IDX]= features['CRIM'].mean()
# property_stats[0][ZN_IDX]= features['ZN'].mean()
# property_stats[0][CHAS_IDX]= features['CHAS'].mean()
# property_stats[0][RM_IDX]= features['RM'].mean()
# property_stats[0][PTRATIO_IDX]= features['PTRATIO'].mean()

property_stats = features.mean().values.reshape(1,11)
property_stats

array([[3.61352356e+00, 1.13636364e+01, 6.91699605e-02, 5.54695059e-01,
        6.28463439e+00, 3.79504269e+00, 9.54940711e+00, 4.08237154e+02,
        1.84555336e+01, 3.56674032e+02, 1.26530632e+01]])

In [11]:
features.mean()

CRIM         3.613524
ZN          11.363636
CHAS         0.069170
NOX          0.554695
RM           6.284634
DIS          3.795043
RAD          9.549407
TAX        408.237154
PTRATIO     18.455534
B          356.674032
LSTAT       12.653063
dtype: float64

In [12]:
# popluatate property stats with all these values
type(features.mean()) # -> Series

pandas.core.series.Series

In [13]:
type(features.mean().values) # array

numpy.ndarray

In [14]:
features.mean().values.shape # 1d array unlike prop stats array
# we will need to reshape it to 1 by 11 array

(11,)

In [15]:
features.mean().values.reshape(1,11)

array([[3.61352356e+00, 1.13636364e+01, 6.91699605e-02, 5.54695059e-01,
        6.28463439e+00, 3.79504269e+00, 9.54940711e+00, 4.08237154e+02,
        1.84555336e+01, 3.56674032e+02, 1.26530632e+01]])

In [19]:
regr = LinearRegression()
regr.fit(features,target) # calculates all the theta values

LinearRegression()

In [22]:
# we are calc all the predicted value using thetas from our model
fitted_vals = regr.predict(features)

In [25]:
# Calc MSE and RMSE
MSE = mean_squared_error(target,fitted_vals)
print(MSE)
RMSE = np.sqrt(MSE)
print(RMSE)

0.03516080084618688
0.18751213519713034

In [45]:
def get_log_estimate(nr_rooms,
                    students_per_classroom,
                    next_to_river=False,
                    high_confidence=True):
    # Configure property 
    property_stats[0][RM_IDX] = nr_rooms
    property_stats[0][PTRATIO_IDX] = students_per_classroom
    
    if next_to_river:
        property_stats[0][CHAS_IDX]=1
    else:
        property_stats[0][CHAS_IDX]=0

    # Make Prediction
    log_estimate = regr.predict(property_stats)[0][0]
    
    # Calc Range -> Prediction interval
    if(high_confidence):
        upper_bound = log_estimate + 2*RMSE
        lower_bound = log_estimate - 2*RMSE
        interval = 95
    else:
        upper_bound = log_estimate + RMSE
        lower_bound = log_estimate - RMSE
        interval = 68
        
    return log_estimate,upper_bound,lower_bound,interval

In [47]:
get_log_estimate(3,20,next_to_river=True ,high_confidence=False)

(2.776758191480399, 2.9642703266775294, 2.589246056283269, 68)

In [48]:
np.median(boston_datset.target)

21.2

In [65]:
# Convert log price estimate using 1970s prices
# lower and upper bounds also
# to todays prices 
# nearest 1000s values

ZILLOW_MEDIAN_PRICE = 583.3
SCALE_FACTOR = ZILLOW_MEDIAN_PRICE / np.median(boston_datset.target)

log_est , upper , lower , conf = get_log_estimate(9, 
                                                 students_per_classroom=15,
                                                 next_to_river=False,
                                                 high_confidence=False)
# convert to todays dollar 
dollar_est = np.e**log_est * 1000 * SCALE_FACTOR
dollar_high = np.e**upper * 1000 * SCALE_FACTOR
dollar_low = np.e**lower * 1000 * SCALE_FACTOR


# Round the dollar values to nearest thousand 
rounded_est = np.around(dollar_est,-3)
rounded_high = np.around(dollar_high,-3)
rounded_low = np.around(dollar_low,-3)


print(f'Estimated property value is {rounded_est}')
print(f'At {conf}% confidence valuation range is ${rounded_low} to {rounded_high}')

Estimated property value is 827000.0
At 68% confidence valuation range is $685000.0 to 997000.0

In [72]:
def get_dollar_estimate(rm,ptratio,chas=False, large_range = True):
    
    if rm<1 or ptratio<1:
        print('That is Unrealistic.Try again')
        return
    
    log_est , upper , lower , conf = get_log_estimate(rm,
                                                      students_per_classroom=ptratio,
                                                      next_to_river=chas,
                                                      high_confidence=large_range)
    # convert to todays dollar 
    dollar_est = np.e**log_est * 1000 * SCALE_FACTOR
    dollar_high = np.e**upper * 1000 * SCALE_FACTOR
    dollar_low = np.e**lower * 1000 * SCALE_FACTOR


    # Round the dollar values to nearest thousand 
    rounded_est = np.around(dollar_est,-3)
    rounded_high = np.around(dollar_high,-3)
    rounded_low = np.around(dollar_low,-3)


    print(f'Estimated property value is {rounded_est}')
    print(f'At {conf}% confidence valuation range is ${rounded_low} to {rounded_high}')

In [73]:
get_dollar_estimate(rm=0, ptratio=30, chas=True)

That is Unrealistic.Try again

In [74]:
get_dollar_estimate(rm=2, ptratio=30, chas=True)

Estimated property value is 278000.0
At 95% confidence valuation range is $191000.0 to 404000.0

In [75]:
get_dollar_estimate(rm=0, ptratio=1, chas=True)

That is Unrealistic.Try again